@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* GLOBAL */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    background: #56638A;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 1.4rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* HEADER */

.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #CBC5EA;
    background: #483A58;
}

h1 { /*JULIA SHERBAL*/
    font-size: 40px;
    letter-spacing: 3px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(15), blink 1s ease-in-out 7s infinite;
    width: 15ch;
    margin: auto;
    margin-bottom: 10px;
    border-right: solid 3px #FFFFFF;
    color: #81F7E5;
}

/* NAME ANIMATION */
@keyframes typing {
    75% {
        width: 0ch;
        color: #8EDCE6;
    }

    100% {
        width: 15ch;
    }
}

@keyframes blink {
    from {
        border-right: solid 3px #FFFFFF;
    }

    to {
        border-right: solid 3px #56638A;
    }
}

/* PROJECTS */

.projects-container {
    width: 85%;
    padding: 20px;
    margin: 80px auto;
}

.project-container {
    text-align: center;
    background: #483A58;
    padding: 10px;
}

.project-info {
    max-width: 560px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

 .project-info p {
    font-size: 22px;
 }

iframe {
    max-width: 100%;
}

h2 {
    font-size: 30px;
    text-align: center;
    letter-spacing: 1rem;
}

h3 {
    font-size: 25px;
    letter-spacing: 0.5rem;
    color: #81F7E5;
    margin: 10px;
}

h4 {
    font-size: 20px;
    letter-spacing: 0.5rem;
    color: #81F7E5;
}

.page-button {
    background-color: #56638A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

.page-button:hover {
    background-color: #434d6c;
}

.developer-img {
    width: 77px;
    height: auto;
}

.app-img {
    width: 200px;
}

/* ABOUT */

.about-container {
    width: 80%;
    padding: 20px;
    background: #483A58;
    margin: 80px auto;
}

.about-img {
    width: 48%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.about-text {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
}

.about-pic {
    width: 200px;
    height: auto;
    border-radius: 10%;
    box-shadow: 10px 10px 0 3px black;
    margin: 0 auto;
}

.about-contact {
    font-size: 22px;
    text-align: center;
}

.about-contact  a {
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.about-container p {
    font-size: 22px;
}

/* PROJECT PAGES */

.page-project-info {
    max-width: 560px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.page-project-info p{
    font-size: 22px;
}

ul {
    text-align: initial;
    font-size: 22px;
}

li {
    margin: 15px;
}

.project-photos {
    width: 100%;
    display: flex;
}

.project-photos img {
    width: 25%;
    margin-top: 20px;
    height: 200px;
}

.project-banner {
    height: 300px;
}